<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../public/css/basic.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link href="../public/lib/bootstrap.min.css" rel="stylesheet" />
    <script src="../public/lib/jquery-1.7.2.js"></script>
    <script src="../public/lib/angular.min.js"></script>
    <script src="../public/lib/ui-bootstrap.min.js"></script>
    <script src="../public/lib/ui-bootstrap-tpls.min.js"></script>
</head>
<body>

<div id="con" ng-controller="indexController">

        <!--top开始-->
            <top></top>
        <!--top结束-->

    <div id="search">
        <div class="logo">
            <img src="../public/imgs/basic/logo.png" alt="">
        </div>

        <div class="search-box">
            <div class="key">
                <span ng-bind="category[0].title"></span>
                <div class="key-list">
                    <a href="" ng-repeat="categoryList in category" ng-bind="categoryList.title"></a>
                </div>
            </div>

            <div class="search-input">
                <span></span>
                <input type="text" placeholder="请输入关键字进行搜索" ng-model="kwd" ng-blur="search(kwd)">
                <div class="search-list" ng-if="searchListFlag">
                    <a href="" ng-repeat="searchList in searchListData" ng-bind="searchList.title" ng-click="searchDetail(searchList.title)"></a>
                </div>
            </div>

            <div class="search-btn" ng-click="searchResult(kwd)">
                搜索
            </div>
        </div>
    </div>

    <!--顶部导航开始-->
    <div class="banner-nav">
        <div class="nav">
            <a href="" class="nav-first">全部 </a>
            <a href="index.html">首页</a>
            <a href="food.html">美食</a>
            <a href="benifit.html">优惠</a>
            <a href="jour.html">景点</a>
            <a href="news.html">新闻</a>
            <a href="circle.html">圈子</a>
        </div>

        <div class="nav-list index-nav-list">
            <ul>
                <li ng-repeat="list in category" ng-click="change($index)">
                    <a href="" >{{list.title}}
                        <span class="nav-arrow"></span>
                        <span ng-bind="list.child[1].title.length>4?list.child[1].title.substring(0,4)+'..':list.child[1].title"></span>
                        <span ng-bind="list.child[2].title.length>4?list.child[2].title.substring(0,4)+'..':list.child[2].title"></span>
                    </a>
                </li>
            </ul>
            <div class="nav-detail index-nav-detail">
                <div class="sec-item sec-a" ng-repeat="navList in category">
                    <div class="sec-header">
                        <h1 ng-bind="navList.title"></h1>
                        <span>更多</span>
                    </div>
                    <div class="sec-body">
                        <a href="" ng-repeat="s_navList in navList.child" ng-bind="s_navList.title"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="banner">
            <div ng-controller="CarouselDemoCtrl" class="banner-firstDiv">
                    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="width: 100%;height: 100%;">
                        </uib-slide>
                    </uib-carousel>
            </div>
        </div>

        <div class="info">
            <div class="bor">
                <h1>发布信息</h1>
               <span>便捷发布，快速达成</span>
            </div>
            <div class=" bor">
                <h1>赚取美刀</h1>
                <span>分享信息，赚取美刀</span>
            </div>
            <div class="dl">
                <div class="df-left">
                    <img src="../public/imgs/index/home_phome_l.png" alt="">
                </div>
                <div class="df-right">
                    <h1>简购客户端</h1>
                    <span>华侨生活的百宝箱</span>
                    <button>免费下载</button>
                    <div>扫码</div>
                </div>
            </div>
        </div>
    </div>
    <!--顶部导航结束-->


    <!--中间内容开始-->
    <div id="detail">
        <!--回到顶部开始-->
        <div id="toTop">
            <div class="toTop-up"></div>
            <div class="toTop-down">
                <div class="toTop-down-erweima"></div>
            </div>
        </div>
        <!--回到顶部结束-->

        <!--闲置二手模块开始-->
        <div class="section">
            <div class="section-header">
                <h1>闲置二手</h1>
                <div class="section-nav">
                    <a href="used.html?id={{usedNavItem.id}}" target="_blank" ng-repeat="usedNavItem in baseData.category[0].child" ng-bind="usedNavItem.title"></a>
                </div>
            </div>
            <div class="warp">
                <a href="used-detail.html?id={{uitem.id}}" target="_blank" class="content-list" ng-repeat="uitem in usedData track by uitem.id">
                    <div class="img-box">
                        <img src="{{uitem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box">
                        <h3 ng-bind="uitem.title.length>16?uitem.title.substring(0,16):uitem.title"></h3>
                        <h2 ng-if="uitem.price!='0.00'" ng-bind="'$'+ uitem.price"></h2>
                        <h2 ng-if="uitem.price=='0.00'" ng-bind="'电议'"></h2>
                        <h4 ng-bind="uitem.address.length>12?uitem.address.substring(0,12)+'..':uitem.address"></h4>
                    </div>
                </a>
            </div>
        </div>
        <!--闲置二手模块结束-->


        <!--新旧车辆模块开始-->
        <div class="section">
            <div class="section-header car_header">
                <h1>新旧车辆</h1>
                <div class="section-nav">
                    <a href="cars.html?id={{carNavItem.id}}" target="_blank" ng-repeat="carNavItem in carNav" ng-bind="carNavItem.title"></a>
                </div>
            </div>
            <div class="warp" style=" border: none;">
                <a href="cars-detail.html?id={{citem.id}}" target="_blank" class="content-list" ng-repeat="citem in carData track by citem.id">
                    <div class="img-box">
                        <img src="{{citem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box">
                        <h3 ng-bind="citem.title.length>16?citem.title.substring(0,16):citem.title"></h3>
                        <h2 ng-if="citem.price!='0.00'" ng-bind="'$'+ citem.price"></h2>
                        <h2 ng-if="citem.price=='0.00'" ng-bind="'电议'"></h2>
                        <h4 ng-bind="citem.address.length>12?citem.address.substring(0,12)+'..':citem.address"></h4>
                    </div>
                </a>
            </div>
        </div>
        <!--新旧车辆模块结束-->


        <!--房屋租赁开始-->
        <div class="section">
            <div class="section-header car_header">
                <h1>房屋租赁</h1>
                <div class="section-nav">
                    <a href="house.html?id={{houseNavItem.id}}" target="_blank" ng-repeat="houseNavItem in houseNav" ng-bind="houseNavItem.title"></a>
                </div>
            </div>
            <div class="warp" style=" border: none;">
                <a href="house-detail.html?id={{hitem.id}}" target="_blank" class="content-list" ng-repeat="hitem in houseData track by hitem.id">
                    <div class="img-box">
                        <img src="{{hitem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box">
                        <h3 ng-bind="hitem.title.length>16?hitem.title.substring(0,16):hitem.title"></h3>
                        <h2 ng-if="hitem.price!='0.00'" ng-bind="'$'+ hitem.price"></h2>
                        <h2 ng-if="hitem.price=='0.00'" ng-bind="'电议'"></h2>
                        <h4 ng-bind="hitem.address.length>12?hitem.address.substring(0,12)+'..':hitem.address"></h4>
                    </div>
                </a>
            </div>
        </div>
        <!--房屋租赁结束-->


        <!--工作招聘开始-->
        <div class="section">
            <div class="section-header job_header">
                <h1>工作招聘</h1>
                <div class="section-nav">
                    <a href="job.html?id={{jobNavItem.id}}" target="_blank" ng-repeat="jobNavItem in jobNav" ng-bind="jobNavItem.title"></a>
                </div>
            </div>
            <div class="warp" style="border-top: none">
                <a href="job-detail.html?id={{jitem.id}}" class="job" ng-repeat="jitem in jobData track by jitem.id" target="_blank">
                    <span ng-bind=" '['+jitem.address+']' "></span>
                    <h2 ng-bind="jitem.title"></h2>
                    <h5 ng-bind="jitem.create_time"></h5>
                </a>
            </div>
        </div>
        <!--工作招聘结束-->


        <!--商家服务开始-->
        <div class="section">
            <div class="section-header service_header">
                <h1>商家服务</h1>
                <div class="section-nav">
                    <a href="service.html?pid={{serviceNavItem.id}}" target="_blank" ng-repeat="serviceNavItem in serviceNav" ng-bind="serviceNavItem.title"></a>
                </div>
            </div>
            <div class="warp" style=" border: none;">
                <a href="service-detail.html?id={{sitem.shop_id}}" class="content-list service-list" target="_blank" ng-repeat="sitem in serviceData">
                    <div class="img-box">
                        <img src="{{sitem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box service-box">
                        <h2 ng-bind="sitem.zh_name"></h2>
                        <div class="service-info">
                            <ul ng-if="0<sitem.score<1.0">
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                            </ul>
                            <ul ng-if="sitem.score<2.0 && sitem.score>=1.0">
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                            </ul>
                            <ul ng-if="sitem.score<3.0 && sitem.score>=2.0">
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                            </ul>
                            <ul ng-if="sitem.score<4.0 && sitem.score>=3.0">
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                            </ul>
                            <ul ng-if="sitem.score<5.0 && sitem.score>=4.0">
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                            </ul>
                            <ul ng-if="sitem.score==5">
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                            </ul>
                            <span ng-bind="sitem.score+'分'"></span>
                            <span ng-bind="'评论'+ sitem.comments+'条'"></span>
                        </div>
                        <div class="service-status">
                            <span ng-bind="sitem.cate_title"></span>
                            <div class="st">营业中</div>
                        </div>
                        <div class="service-tags" ng-if!="sitem.activity=='' ||sitem.activity.length==0">
                            <span class="s-share" ng-repeat="tag in sitem.activity" ng-if="tag.type=='merchant' && tag.has_game!=1 && tag.has_gold==1 && tag.share_game==1">分享</span>
                            <span class="s-game" ng-repeat="tag1 in sitem.activity" ng-if="tag1.type=='merchant' && tag1.has_game==1">玩</span>
                            <span class="s-benifit" ng-repeat="tag2 in sitem.activity"  ng-if="tag2.type=='shop' && tag2.verify==0">惠</span>
                            <span class="s-quan" ng-repeat="tag2 in sitem.activity"  ng-if="tag2.type=='shop' && tag2.verify==1">券</span>
                            <span class="s-zhuan" ng-repeat="tag2 in sitem.activity"  ng-if="tag2.type=='merchant' && tag2.has_gold==1">赚</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--商家服务结束-->

        <!--美食餐饮开始-->
        <div class="section">
            <div class="section-header food_header">
                <h1>美食餐饮</h1>
                <div class="section-nav">
                    <a href="food.html?id={{foodNavItem.id}}" target="_blank" ng-repeat="foodNavItem in foodNav" ng-bind="foodNavItem.title"></a>
                </div>
            </div>
            <div class="warp" style=" border: none;">
                <a href="food-detail.html?id={{fitem.shop_id}}" class="content-list service-list" target="_blank" ng-repeat="fitem in foodData">
                    <div class="img-box">
                        <img src="{{fitem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box service-box food-box">
                        <h2 ng-bind="fitem.title"></h2>
                        <div class="food-icon">
                            <h3 ng-bind="fitem.category_title==''?'暂时没有':fitem.category_title"></h3>
                            <span class="s-share" ng-repeat="tag in fitem.activity" ng-if="tag.type=='merchant' && tag.has_game!=1 && tag.has_gold==1 && tag.share_game==1">分享</span>
                            <span class="s-game" ng-repeat="tag1 in fitem.activity" ng-if="tag1.type=='merchant' && tag1.has_game==1">玩</span>
                            <span class="s-benifit" ng-repeat="tag2 in fitem.activity"  ng-if="tag2.type=='shop' && tag2.verify==0">惠</span>
                            <span class="s-quan" ng-repeat="tag2 in fitem.activity"  ng-if="tag2.type=='shop' && tag2.verify==1">券</span>
                            <span class="s-zhuan" ng-repeat="tag2 in fitem.activity"  ng-if="tag2.type=='merchant' && tag2.has_gold==1">赚</span>
                        </div>
                        <div class="food-score">
                            <h2 ng-bind="'$'+fitem.price+'/人'"></h2>
                            <div class="f-s">
                                <ul ng-if="0<fitem.star<1.0">
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="fitem.star<2.0 && fitem.star>=1.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="fitem.star<3.0 && fitem.star>=2.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="fitem.star<4.0 && fitem.star>=3.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="fitem.star<5.0 && fitem.star>=4.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="fitem.star==5">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                </ul>
                                <span ng-bind="fitem.star+'分'"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--美食餐饮结束-->

        <!--周边景点开始-->
        <div class="section">
            <div class="section-header jour_header">
                <h1>周边景点</h1>
                <div class="section-nav">
                    <a href="jour.html?pid={{travelNavItem.id}}" target="_blank" ng-repeat="travelNavItem in travelNav" ng-bind="travelNavItem.title"></a>
                </div>
            </div>
            <div class="warp">
                <a href="jour-detail.html?id={{jitem.id}}" target="_blank" ng-repeat="jitem in travelData"  class="content-list service-list" >
                    <div class="img-box">
                        <img src="{{jitem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box service-box food-box">
                        <h2 ng-bind="jitem.title"></h2>
                        <div class="food-icon">
                            <h3 ng-bind="'游玩时长:'+jitem.playtime"></h3>
                        </div>
                        <div class="food-score">
                            <h2 ng-bind="'$'+jitem.price+'/人'"></h2>
                            <div class="f-s">
                                <ul ng-if="0<jitem.star<1.0">
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="jitem.star<2.0 && jitem.star>=1.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="jitem.star<3.0 && jitem.star>=2.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="jitem.star<4.0 && jitem.star>=3.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="jitem.star<5.0 && jitem.star>=4.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="jitem.star==5">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                </ul>
                                <span ng-bind="jitem.star+'分'"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--周边景点结束-->

        <!--优惠折扣开始-->
        <div class="section">
            <div class="section-header benifit_header">
                <h1>优惠折扣</h1>
                <div class="section-nav">
                    <a href="benifit.html?pid={{beniftNavItem.id}}" target="_blank" ng-repeat="beniftNavItem in beniftlNav" ng-bind="beniftNavItem.title"></a>
                </div>
            </div>
            <div class="warp">
                <a href="benifit-detail.html?id={{bitem.privilege_id}}" class="content-list service-list" target="_blank" ng-repeat="bitem in benifitData">
                    <div class="img-box">
                        <img src="{{bitem.image}}{{bigImg}}" alt="">
                    </div>
                    <div class="text-box service-box food-box">
                        <h2 ng-bind="bitem.title"></h2>
                        <div class="food-icon">
                            <h3 ng-bind="bitem.cate_title=='' ? '暂时没有' : bitem.cate_title"></h3>
                        </div>
                        <div class="food-score">
                            <div class="service-tags">
                                <span class="s-t" ng-bind="bitem.cate_title.length>4?bitem.cate_title.substring(0,4)+'..': bitem.cate_title"></span>
                                <span class="s-game" ng-if="bitem.recommend!==0">推荐</span>
                                <span class="s-share" ng-if="bitem.verify!==0">验证</span>
                            </div>

                            <div class="f-s">
                                <span ng-bind="'浏览量:'+bitem.browse"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--优惠折扣结束-->


        <div class="section">
            <!--热点新闻开始-->
            <div class="section hot">
                <div class="section-header hot_header">
                    <h1>热点新闻</h1>
                    <div class="section-nav">
                        <a href="news.html">全部</a>
                    </div>
                </div>
                <div class="warp hot-wrap">
                    <a href="news-detail.html" target="_blank" ng-repeat="nitem in newsData" class="job hot-list">
                        <h2 ng-bind="nitem.title"></h2>
                        <h5 ng-bind="nitem.create_time"></h5>
                    </a>
                </div>
            </div>
            <!--热点新闻结束-->

            <!--圈子讨论开始-->
            <div class="section circle">
                <div class="section-header circle_header">
                    <h1>圈子讨论</h1>
                    <div class="section-nav">
                        <a href="circle.html">全部</a>
                    </div>
                </div>
                <div class="warp hot-wrap">
                    <a href="circle-detail.html" target="_blank" class="job hot-list" ng-repeat="circleItem in circleData">
                        <span ng-bind="'['+circleItem.address+']'"></span>
                        <h2 ng-bind="circleItem.content.length>20?circleItem.content.substring(0,20)+'...':circleItem.content"></h2>
                        <h5 ng-bind="circleItem.create_time"></h5>
                    </a>
                </div>
            </div>
            <!--圈子讨论结束-->
        </div>


        <!--友情链接开始-->
        <div class="section links">
            <span>友情链接:</span>
            <div class="link-wrap">
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
                <a href="">美国VOA</a>
                <a href="">北美省钱快报</a>
            </div>
        </div>
        <!--友情链接结束-->

    </div>
    <!--中间内容结束-->

    <footer></footer>
    <bottom></bottom>
</div>


<!--底部弹窗开始-->
<div class="adv-btn"></div>
<div class="adv">
    <div class="hide-info">
        <div class="hide-detail">
            <div class="hide-detail-left">
                <div>iphone</div>
                <div>Android</div>
                <div>Pad</div>
            </div>
            <div class="hide-detail-mid">
                <div class="erweima">
                    <img src="../public/imgs/index/erweima.png" alt="">
                </div>
            </div>
            <div class="hide-detail-right">
                <img src="../public/imgs/index/close.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--底部弹窗结束-->


<!--点击发布弹窗开始-->
<div id="mask"></div>
<div id="release">
    <div class="release-header">
电脑功能暂时未开放，请下载手机客户端进行发布
        <div class="release-close"></div>
    </div>
    <div class="release-body">
        <div class="r-l"></div>
        <div class="r-r">
            <div class="r-r-img">
                <img src="../public/imgs/index/release-tips.png" alt="">
            </div>
            <h1>北美华侨最大的生活服务平台</h1>
            <h1>为您提供最优质的本地化生活服务</h1>
            <div class="r-r-bottom">
                <div class="r-r-bottom-left">
                    <h1>免费短信下载</h1>
                    <input type="text" class="phone" placeholder="输入手机号码">
                    <div class="code">
                        <div class="alpha"></div>
                        <input type="text" placeholder="输入验证码" class="getCode">
                    </div>
                    <button class="getLink">发送下载链接</button>
                </div>
                <div class="r-r-bottom-right">
                    <h1>扫描二维码下载</h1>
                    <div  class="rr-erweima">
                        <img src="../public/imgs/index/dnl_rqcode.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--点击发布弹窗结束-->

</body>
<script src="../public/js/basic.js"></script>
<script src="../public/js/index.js"></script>
</html>