<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>商家服务详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../public/css/basic.css">
    <link href="../public/lib/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div id="con" ng-controller="ListController">
    <top></top>

    <div id="search">
        <div class="logo">
            <img src="../public/imgs/basic/logo.png" alt="">
        </div>

        <div class="search-box">
            <div class="key">
                <span ng-bind="category[0].title"></span>
                <div class="key-list">
                    <a href="" ng-repeat="categoryList in category" ng-bind="categoryList.title"></a>
                </div>
            </div>

            <div class="search-input">
                <span></span>
                <input type="text" placeholder="请输入关键字进行搜索" ng-model="kwd" ng-blur="search(kwd)">
                <div class="search-list" ng-if="searchListFlag">
                    <a href="" ng-repeat="searchList in searchListData" ng-bind="searchList.title" ng-click="searchDetail(searchList.title)"></a>
                </div>
            </div>

            <div class="search-btn" ng-click="searchResult(kwd)">
                搜索
            </div>
        </div>
    </div>

    <!--顶部导航开始-->
    <nav></nav>
    <!--顶部导航结束-->


<!--面包屑导航开始-->
    <div class="bread">
        <ul>
            <li><a href="">全部</a></li>
            <li> > </li>
            <li><a href="">商家服务详情</a></li>
        </ul>
    </div>
<!--面包屑导航结束-->




    <div id="detail" ng-controller="detailController">
        <!--回到顶部开始-->
        <div id="toTop">
            <div class="toTop-up"></div>
            <div class="toTop-down">
                <div class="toTop-down-erweima"></div>
            </div>
        </div>
        <!--回到顶部结束-->


        <!--内容区域开始-->
            <div class="detail-left">
                <div class="detail-header service-detail-header">
                    <div class="s-d-h-top">
                        <div class="s-d-h-top-left">
                            <h1 ng-bind="detailData.zh_name"></h1>
                            <h2 ng-bind="detailData.en_name"></h2>
                        </div>
                        <div class="s-d-h-top-right">
                            <div class="s-d-h-top-right-tag">营业中</div>

                            <div class="s-d-h-top-right-info">
                                <ul ng-if="0<detailData.score<1.0">
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="detailData.score<2.0 && detailData.score>=1.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="detailData.score<3.0 && detailData.score>=2.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="detailData.score<4.0 && detailData.score>=3.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="detailData.score<5.0 && detailData.score>=4.0">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_gray.png" alt=""></li>
                                </ul>
                                <ul ng-if="detailData.score==5">
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                </ul>
                                <span ng-bind="detailData.mc_count+'条评论'"></span>
                            </div>
                        </div>
                    </div>

                    <div class="s-d-h-bottom">
                        <div class="s-d-h-bottom-left">
                            <span ng-bind="detailData.cate_title">  </span>
                            <span ng-bind="'行业'+detailData.in_score  +'&nbsp;&nbsp;'+ '服务'+ detailData.se_score + '&nbsp;&nbsp;'+'质量'+ detailData.pr_score +'&nbsp;&nbsp;'">环境: 5.0    口味:5.0   服务5.0:</span>
                        </div>
                        <div class="s-d-h-bottom-right">
                            <img src="../public/imgs/service/service_dnl_yy.png" alt="">
                        </div>
                    </div>

                    <div class="s-d-h-img">
                        <div class="s-d-h-img-left">
                            <img src="../public/imgs/service/header.png" alt="">
                        </div>

                        <div class="s-d-h-img-right">
                            <img src="../public/imgs/service/header-small.png" alt="">
                            <img src="../public/imgs/service/header-small.png" alt="">
                            <img src="../public/imgs/service/header-small.png" alt="">
                            <img src="../public/imgs/service/header-small.png" alt="">
                        </div>
                    </div>

                    <div class="s-d-h-activity">
                        <a href="" class="s-d-h-activity-list">
                            <span class="s-d-h-activity-list-icon">
                                <img src="../public/imgs/service/hui.png" alt="">
                            </span>
                            <h1 class="s-d-h-activity-list-title">端午节优惠活动大派送泡南瓜，消费满300送200</h1>
                            <span class="s-d-h-activity-list-more"></span>
                        </a>
                        <a href="" class="s-d-h-activity-list">
                            <span class="s-d-h-activity-list-icon">
                                <img src="../public/imgs/service/wan.png" alt="">
                            </span>
                            <h1 class="s-d-h-activity-list-title">端午节优惠活动大派送泡南瓜，消费满300送200</h1>
                            <span class="s-d-h-activity-list-more"></span>
                        </a>
                        <a href="" class="s-d-h-activity-list">
                            <span class="s-d-h-activity-list-icon">
                                <img src="../public/imgs/service/zhuang.png" alt="">
                            </span>
                            <h1 class="s-d-h-activity-list-title">端午节优惠活动大派送泡南瓜，消费满300送200</h1>
                            <span class="s-d-h-activity-list-more"></span>
                        </a>
                    </div>

                </div>


                <div class="detail-info">

                    <div class="detail-info-left">
                        <div class="detail-info-item">
                            <div class="detail-info-item-left">电话:</div>
                            <div class="detail-info-item-right">
                                <h2 class="detail-info-item-right-tel">23423543545</h2>
                            </div>
                        </div>

                        <div class="detail-info-item">
                            <div class="detail-info-item-left">地址:</div>
                            <div class="detail-info-item-right">
                               <p>真正美丽的生命执著地追求着真善，它不会趋炎附势地扭曲自己的形象</p>
                            </div>
                        </div>

                        <div class="detail-info-item">
                            <div class="detail-info-item-left">路线:</div>
                            <div class="detail-info-item-right">
                                <p>真正美丽的生命执著地追求着真善，它不会趋炎附势地扭曲自己的形象</p>
                            </div>
                        </div>
                    </div>
                    <div class="detail-info-right">
                        <img src="../public/imgs/index/dnl_rqcode.png" alt="">
                        <span>扫描二维码获取详情</span>
                    </div>
                </div>


                <!--评论区域开始-->
                <div class="detail-comment">
                    <div class="detail-comment-first">
                        <h1>顾客评论 （12）</h1>
                        <span>安装简购生活App,参与对商家的评论</span>
                        </div>
                    <div class="detail-comment-list">
                        <div class="detail-comment-header">
                            <div class="detail-comment-avatar">
                                <img src="../public/imgs/service/avatar.png" alt="">
                            </div>
                            <div class="detail-comment-name">
                                <h2>挥剑天下 <span>2017-12-12</span> </h2>
                                <ul>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                </ul>
                            </div>
                        </div>

                        <div class="detail-comment-body">
                            <p>
                                离别的那日，夕阳残照，如血嫣红。漠然回望，我宿命的悬崖边，是一座枯萎的空城，城墙上长满荒草，如一滴凄清的泪，悬挂在宿命的指尖。曾经祥和的幸福美满，如今在面前，已经碎裂成云烟。天空退却了亘久的蔚蓝，星辰开始渐次陨落。那一年，繁华落尽，满目尽是凄凉的荒芜。也许，我这一生，注定要以孤单来承兑对你的所有幻想
                            </p>


                             <div class="detail-comment-img">
                                 <img src="../public/imgs/service/comment.png" alt="">
                                 <img src="../public/imgs/service/comment.png" alt="">
                                 <img src="../public/imgs/service/comment.png" alt="">
                                 <img src="../public/imgs/service/comment.png" alt="">
                             </div>
                        </div>
                    </div>
                    <div class="detail-comment-list">
                        <div class="detail-comment-header">
                            <div class="detail-comment-avatar">
                                <img src="../public/imgs/service/avatar.png" alt="">
                            </div>
                            <div class="detail-comment-name">
                                <h2>挥剑天下 <span>2017-12-12</span> </h2>
                                <ul>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                    <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                </ul>
                            </div>
                        </div>

                        <div class="detail-comment-body">
                            <p>
                                离别的那日，夕阳残照，如血嫣红。漠然回望，我宿命的悬崖边，是一座枯萎的空城，城墙上长满荒草，如一滴凄清的泪，悬挂在宿命的指尖。曾经祥和的幸福美满，如今在面前，已经碎裂成云烟。天空退却了亘久的蔚蓝，星辰开始渐次陨落。那一年，繁华落尽，满目尽是凄凉的荒芜。也许，我这一生，注定要以孤单来承兑对你的所有幻想
                            </p>


                            <div class="detail-comment-img">
                                <img src="../public/imgs/service/comment.png" alt="">
                                <img src="../public/imgs/service/comment.png" alt="">
                                <img src="../public/imgs/service/comment.png" alt="">
                                <img src="../public/imgs/service/comment.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="detail-comment-list">
                    <div class="detail-comment-header">
                        <div class="detail-comment-avatar">
                            <img src="../public/imgs/service/avatar.png" alt="">
                        </div>
                        <div class="detail-comment-name">
                            <h2>挥剑天下 <span>2017-12-12</span> </h2>
                            <ul>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                                <li><img src="../public/imgs/service/starl_one.png" alt=""></li>
                            </ul>
                        </div>
                    </div>

                    <div class="detail-comment-body">
                        <p>
                            离别的那日，夕阳残照，如血嫣红。漠然回望，我宿命的悬崖边，是一座枯萎的空城，城墙上长满荒草，如一滴凄清的泪，悬挂在宿命的指尖。曾经祥和的幸福美满，如今在面前，已经碎裂成云烟。天空退却了亘久的蔚蓝，星辰开始渐次陨落。那一年，繁华落尽，满目尽是凄凉的荒芜。也许，我这一生，注定要以孤单来承兑对你的所有幻想
                        </p>

                    </div>
                </div>

                </div>
                <!--评论区域结束-->


                <!--底部banner 开始-->
                 <div class="footer-banner">
                     <img src="../public/imgs/service/dnl_img_one.png" alt="">
                 </div>
                <!--底部banner 结束-->
            </div>


            <div class="detail-right">
                <div class="detail-right-header">
                    <div class="detail-right-person detail-right-person-service">
                        <img src="../public/imgs/used/avatar.png" alt="">
                        <h1>干锅鸡有限公司</h1>
                        <h2>注册于2017-01-12</h2>
                    </div>
                    <div class="detail-right-person-mendian">
                        <h1>旗下门店</h1>
                        <a href="" class="detail-right-body-list">
                            <div class="detail-right-body-list-left">
                                <img src="../public/imgs/used/tuijian.png" alt="">
                            </div>
                            <div class="detail-right-body-list-right">
                                <h1>宾夕法尼亚酒店</h1>
                                <h2>Hotel Pensivaliya New....</h2>
                                <span><span>电话</span> : + 12982842374</span>
                            </div>
                        </a>
                        <a href="" class="detail-right-body-list">
                            <div class="detail-right-body-list-left">
                                <img src="../public/imgs/used/tuijian.png" alt="">
                            </div>
                            <div class="detail-right-body-list-right">
                                <h1>宾夕法尼亚酒店</h1>
                                <h2>Hotel Pensivaliya New....</h2>
                                <span><span>电话</span> : + 12982842374</span>
                            </div>
                        </a>
                        <a href="" class="detail-right-body-list">
                            <div class="detail-right-body-list-left">
                                <img src="../public/imgs/used/tuijian.png" alt="">
                            </div>
                            <div class="detail-right-body-list-right">
                                <h1>宾夕法尼亚酒店</h1>
                                <h2>Hotel Pensivaliya New....</h2>
                                <span><span>电话</span> : + 12982842374</span>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="detail-right-body">
                    <h1>精选推荐</h1>
                    <a href="" class="detail-right-body-list">
                        <div class="detail-right-body-list-left">
                            <img src="../public/imgs/used/tuijian.png" alt="">
                        </div>
                        <div class="detail-right-body-list-right detail-right-body-list-right-service">
                            <h1>宾夕法尼亚酒店</h1>
                            <h2>Hotel Pensivaliya New....</h2>
                            <span>律师法务</span>
                            <div class="detail-right-body-list-right-serviceTag">营业中</div>
                        </div>
                    </a>
                    <a href="" class="detail-right-body-list">
                        <div class="detail-right-body-list-left">
                            <img src="../public/imgs/used/tuijian.png" alt="">
                        </div>
                        <div class="detail-right-body-list-right detail-right-body-list-right-service">
                            <h1>宾夕法尼亚酒店</h1>
                            <h2>Hotel Pensivaliya New....</h2>
                            <span>律师法务</span>
                            <div class="detail-right-body-list-right-serviceTag">营业中</div>
                        </div>
                    </a>
                    <a href="" class="detail-right-body-list">
                        <div class="detail-right-body-list-left">
                            <img src="../public/imgs/used/tuijian.png" alt="">
                        </div>
                        <div class="detail-right-body-list-right detail-right-body-list-right-service">
                            <h1>宾夕法尼亚酒店</h1>
                            <h2>Hotel Pensivaliya New....</h2>
                            <span>律师法务</span>
                            <div class="detail-right-body-list-right-serviceTag">营业中</div>
                        </div>
                    </a>
                </div>
                <div class="detail-right-footer">
                    <img src="../public/imgs/news/download.png" alt="">
                </div>

            </div>
        <!--内容区域结束-->
    </div>



    <footer></footer>
    <bottom></bottom>
</div>
</body>
<script src="../public/lib/jquery-1.7.2.js"></script>
<script src="../public/lib/angular.min.js"></script>
<script src="../public/lib/ui-bootstrap.min.js"></script>
<script src="../public/lib/ui-bootstrap-tpls.min.js"></script>
<script src="../public/lib/ui-bootstrap-tpls.min.js"></script>
<script src="../public/js/basic.js"></script>
<script src="../public/js/service.js"></script>
</html>