<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>闲置二手详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../public/css/basic.css">
    <link href="../public/lib/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<div id="con" ng-controller="ListController">
    <top></top>

    <div id="search">
        <div class="logo">
            <img src="../public/imgs/basic/logo.png" alt="">
        </div>

        <div class="search-box">
            <div class="key">
                <span ng-bind="category[0].title"></span>
                <div class="key-list">
                    <a href="" ng-repeat="categoryList in category" ng-bind="categoryList.title"></a>
                </div>
            </div>

            <div class="search-input">
                <span></span>
                <input type="text" placeholder="请输入关键字进行搜索" ng-model="kwd" ng-blur="search(kwd)">
                <div class="search-list" ng-if="searchListFlag">
                    <a href="" ng-repeat="searchList in searchListData" ng-bind="searchList.title" ng-click="searchDetail(searchList.title)"></a>
                </div>
            </div>

            <div class="search-btn" ng-click="searchResult(kwd)">
                搜索
            </div>
        </div>
    </div>

    <!--顶部导航开始-->
    <nav></nav>
    <!--顶部导航结束-->

<!--面包屑导航开始-->
    <div class="bread">
        <ul>
            <li><a href="">全部</a></li>
            <li> > </li>
            <li><a href="">闲置二手详情</a></li>
        </ul>
    </div>
<!--面包屑导航结束-->

    <div id="detail"  ng-controller="detailController">
        <!--回到顶部开始-->
        <div id="toTop">
            <div class="toTop-up"></div>
            <div class="toTop-down">
                <div class="toTop-down-erweima"></div>
            </div>
        </div>
        <!--回到顶部结束-->


        <!--内容区域开始-->
        <!--<div id="content">-->
            <div class="detail-left">
                <div class="detail-header">
                    <div class="d-h-top">
                        <h1  ng-bind="detailData.title"></h1>
                        <span ng-if="detailData.price=='0.00'">电议</span>
                        <span ng-if="detailData.price!='0.00'" ng-bind="detailData.price"></span>
                    </div>
                    <div class="d-h-down">
                        <span class="d-h-down-date" ng-bind="detailData.create_time"></span>
                        <span class="d-h-down-location" ng-bind="detailData.address"> </span>
                        <span class="d-h-down-browse" ng-bind="detailData.browse"></span>
                    </div>
                </div>

                <div class="detail-body">
                   <p ng-bind="detailData.introduce"></p>
                    <div class="detail-body-img" ng-repeat="item in detailData.images">
                        <img src="{{item.image}}{{bigImg}}" alt="">
                    </div>
                </div>

                <div class="detail-comment">
                    <div class="detail-comment-h1">
                        <h1 ng-bind="'点评' +'&nbsp;'+ '('+detailData.comment+')'"></h1>
                    </div>
                    <h1 class="nocommenttips" ng-show="havaData">暂时没有评论</h1>
                    <a href="" class="detail-comment-item" ng-repeat="item in commentList">
                        <div class="d-c-top">
                            <div class="d-c-top-left">
                                <img src="{{item.senter_header}}" alt="">
                                <div class="d-c-top-left-name">
                                    <h1 ng-bind="item.senter_nickname"></h1>
                                    <span ng-bind="detailData.address"></span>
                                </div>
                            </div>
                            <div class="d-c-top-right">
                                <h1 ng-bind="item.create_time"></h1>
                            </div>
                        </div>
                        <div class="d-c-down">
                            <p ng-bind="item.comments"> </p>
                            <!--回复者信息-->
                            <div class="reply" ng-show="item.child!='' " ng-repeat="s_item in item.child">
                                <div class="reply-top">
                                    <img src="{{s_item.senter_header}}" alt="">
                                    <h2> {{s_item.senter_nickname}} <span>回复</span> {{s_item.receive_nickname}}</h2>
                                </div>
                                <div class="reply-down">
                                    <p ng-bind="s_item.comments"></p>
                                </div>
                            </div>
                            <!--回复者信息-->
                        </div>
                    </a>
                    <!--分页开始-->
                    <div class="page-wrap" style="width: 780px;float: right;margin: 15px 20px 15px 0;" ng-show="!havaData">
                        <div class="pagenition">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="尾页" boundary-links="true" boundary-link-numbers="true" items-per-page="20" ng-change="pageChangedDetail()"></uib-pagination>
                        </div>
                    </div>
                    <!--分页结束-->
                </div>

            </div>


            <div class="detail-right">
                <div class="detail-right-header">
                    <div class="detail-right-person">
                        <img src="{{detailData.merchant.header}}" alt="">
                        <h1 ng-bind="detailData.merchant.zh_name"></h1>
                        <h2>注册于2017-01-12</h2>
                        <div class="detail-right-person-bottom">
                            <h1 ng-bind=" '他的宝贝'+'('+totalItems+')'"></h1>
                            <a href="">更多</a>
                        </div>
                    </div>
                    <div class="detail-right-release">
                        <h1 ng-show="personHavaData">暂时没有发布记录</h1>
                        <a href="" class="detail-right-release-list" ng-repeat="item in personList">
                            <div class="detail-right-release-list-img">
                                <img ng-if="item.images.length!=0"  src="{{item.images[0].image}}{{bigImg}}" alt="">
                            </div>
                            <div class="detail-right-release-list-text">
                                <h3 ng-bind="item.title.length>30?item.title.substring(0,20)+'...':item.title"></h3>
                                <h2 ng-if="item.price!='0.00'" ng-bind="'$'+ item.price"></h2>
                                <h2 ng-if="item.price=='0.00'">电议</h2>
                                <h4 ng-bind="detailData.merchant.address.length>13?detailData.merchant.address.substring(0,10)+'..':detailData.merchant.address"></h4>
                            </div>
                        </a>
                    </div>
                    <div class="detail-right-contact">
                        <h1>联系方式</h1>
                        <div class="detail-right-contact-erweima">
                            <img src="../public/imgs/used/second_rq.png" alt="">
                            <p>请扫描二维码获取联系方式</p>
                        </div>
                    </div>
                </div>
                <div class="detail-right-body">
                    <h1>精选推荐</h1>

                    <a href="" class="detail-right-body-list">
                    <div class="detail-right-body-list-left">
                        <img src="../public/imgs/used/tuijian.png" alt="">
                    </div>
                    <div class="detail-right-body-list-right">
                        <h1>这就是商品的描</h1>
                        <span>$12.00</span>
                    </div>
                </a>
                    <a href="" class="detail-right-body-list">
                        <div class="detail-right-body-list-left">
                            <img src="../public/imgs/used/tuijian.png" alt="">
                        </div>
                        <div class="detail-right-body-list-right">
                            <h1>这就是商品的描</h1>
                            <span>$12.00</span>
                        </div>
                    </a>
                    <a href="" class="detail-right-body-list">
                        <div class="detail-right-body-list-left">
                            <img src="../public/imgs/used/tuijian.png" alt="">
                        </div>
                        <div class="detail-right-body-list-right">
                            <h1>这就是商品的描</h1>
                            <span>$12.00</span>
                        </div>
                    </a>

                </div>

            </div>
        <!--</div>-->
        <!--内容区域结束-->

    </div>



    <footer></footer>
    <bottom></bottom>

</div>

</body>
<script src="../public/lib/jquery-1.7.2.js"></script>
<script src="../public/lib/angular.min.js"></script>
<script src="../public/lib/ui-bootstrap.min.js"></script>
<script src="../public/lib/ui-bootstrap-tpls.min.js"></script>
<script src="../public/js/basic.js"></script>
<script src="../public/js/used.js"></script>
</html>